<!DOCTYPE html>
<html>
  <head>
    <title>Game of Thrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/houses"><img id='logo' src="http://gamingtrend.com/wp-content/screenshots/game-of-thrones-ascent/Game-of-Thrones-Ascent_LOGO.png"></a>
    <%= yield %>
  </body>
</html>
