/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  display: block;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  background-image: url(https://images.alphacoders.com/226/226091.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#logo {
  height: 150px;
}

img {
  height: 400px;
  margin: 10px;
}

.housesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.houseInfo {
  margin: 50px 20%;
}

textarea {
  height: 100px;
  width: 300px;
}

textfield {
  width: 300px;
}

.alert{
  color: red;
}

a {
  padding: 5px 20px;
  text-decoration: none;
  color: white;
}

.showLink:hover {
  background-color: rgba(102,102,255,.4);
  color: #FFFAFA;
}

nav {
  padding: 5px 20px;
  font-size: 20px;
}
